*, body {
    margin: 0;
    padding: 0;
}
.grid-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
h1 {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    margin: 10px 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.big {
    grid-column: span 4;
    grid-row: span 3;
}
.vertical {
    grid-column: span 2;
    grid-row: span 2;
}
.horizental {
    grid-column: span 2;
}
.normal {
    grid-column: span 2;
}